body {
  font-family: Times New Roman !important;
  font-size: 12pt;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

h1
{
  margin-bottom: 0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  font-size: 24pt;
  font-weight: normal;
  border-top: 1px solid blue;
  border-bottom: 1px solid blue;
  padding: 20px 10px 20px 10px
}

h3
{
  margin-top: 20pt;
  margin-bottom: 6pt;
}

a
{
  text-decoration: SteelBlue !important;
}

/* ul */
/* { */
/*   list-style: none; */
/*   margin-left:0pt; */
/*   padding-left:0em; */
/* } */


ul li
{
  margin-top:16pt;
  margin-bottom:16pt;
}

div#contact
{
  float:left;
  width:250px;
  margin-right:20px;
}

div#content
{
  float:left;
  width:700px;
}

div#lastupdate {
  border-top: 1px solid blue;
  margin-top: 20pt;
  padding-top: 3pt;
  font-size:8pt;
  color: gray;
}



nav a
{
    margin-right: 2.5em;
    margin-bottom: 0px;
    color: gray;
    font-size: 12pt;
    font-weight: bold;
}

a:hover
{
    text-decoration-line: underline;
}

.current {
    color:black;
}

nav {
    padding: 20px 10px 20px 10px;
    border-bottom: 1px solid blue;
}
